body {
	background-color: #121212;
	color: #e0e0e0;
}

h1 {
	color: #ffffff;
	margin-top: 20px;
}

.list-group-item {
	background-color: #121212;
	border: none;
	padding: 0;
	margin-bottom: 10px;
}

.card {
	background-color: #1e1e1e;
	border: 1px solid #333;
}

.card-title {
	color: #ffffff;
}

.card-text {
	color: #cccccc;
}

.text-muted {
	color: #888888 !important;
}